div{
    background: url('~@/assets/login.png');
    width: 50%;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-size: cover;

    @media(max-width: 1000px){
        width: 0%;
    }

    img{
        width: 305px;
        height: 105px;

        @media(max-width: 1000px){
            position: absolute;
            right: 0;
        }
    }
}