.greeting{
    font-size: 16px;
    margin: 0;
}
.temperature{
   font-weight: 700;
   font-size: 48px;
   margin: 0;
   position: relative;
   bottom: 10px; 
}
.date{
    font-size: 14px;
    position: relative;
    bottom: 50px;
}
.location{
    font-size: 14px;
}
.homeParagraph{
    font-size: 24px;
    margin: 0;
    position: relative;
    bottom: 13px;

    @media(max-width: 1620px){
        font-size: 18px;
    }

    @media(max-width: 1340px){
        font-size: 13px;
    }
}
.footerText{
    font-size: 11px;
    text-align: right;
}
.timerText{
    font-size: 14px;
}
.continueText{
    color: #C13216;
    font-size: 12px;
}
.loginError{
    color: #E9B425;
    font-weight: 700;
    text-align: center;
    width: 67%;
    align-self: center;
    position: relative;
    top: 20px;
    visibility: hidden;

    @media(max-width: 1590px){
        width: 75%;
    }
    @media(max-width: 1420px){
        width: 80%;
    }
    @media(max-width: 1330px){
        width: 90%;
    }
    @media(max-width: 1190px){
        width: 100%;
    }
    @media(max-width: 1000px){
        font-size: 13px;
        width: 80%;
    }
}
.visible{
    visibility: visible;
}