.temperature{
   font-weight: 700;
   font-size: 48px;
   margin: 0; 
}
.date{
    font-size: 14px;
}
.location{
    font-size: 14px;

}
.footerText{
    font-size: 12px;
    text-align: right;
}
.timerText{
    font-size: 14px;
}
.continueText{
    color: #C13216;
    font-size: 12px;
}