.greetingTitle{
    font-size: 60px;
}
.loginTitle{
    font-size: 30px;
}
.firstTitle{
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}
.homeTitleStyle{
    font-size: 64px;
    font-weight: 700;
    margin: 0;
}