.greetingTitle{
    font-size: 60px;
    margin: 0;
}
.loginTitle{
    font-size: 30px;
    margin: 0;
}
.firstTitle{
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    position: relative;

    @media(max-width: 1620px){
        font-size: 27px;
    }

    @media(max-width: 1340px){
        font-size: 20px;
        bottom: 5%;
    }

    @media(max-width: 1140px){
        font-size: 19px;
    }
}
.homeTitleStyle{
    font-size: 64px;
    font-weight: 700;
    margin: 0;

    @media(max-width: 1620px){
        font-size: 48px;
    }

    @media(max-width: 1340px){
        font-size: 36px;
    }

    @media(max-width: 1140px){
        font-size: 27px;
    }
}