div{
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
    width: 50%;
    height: 100vh;
    color: #E0E0E0;
    position: relative;
    bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(max-width: 1000px){
        width: 100%;
    }

    #box{
        background: transparent;
        height: 75%;
        position: relative;
        top: 20%;
        align-items: flex-start;

        @media(max-width: 1000px){
            width: 80%;
        }

        #greetingBox{
            @media(max-width: 1000px){
                width: 100%;
            }
        }

        div{
            width: 76%;
            background: transparent;
            align-items: flex-start;
            position: relative;
            bottom: 10%;
        }
    }

    form{
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        width: 100%;
        height: 110%;

        position: relative;
        bottom: 20%;

        @media(max-width: 1000px){
            height: 80%;
            bottom: 7%;
        }

        div{
            background: transparent;
        }
    }
}
