#homeBody{
    display: flex;
    justify-content: space-between;
    height: 500px;

    img{
        width: 500px;
        height: 625px;
    }
    #paragraphBox{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        margin-right: 6%;

        div{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            top: 15px;
        }
    }
}