footer{
    
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100vw;

    p{
        height: 100px;
        position: relative;
        bottom: 12px;
        display: flex;
        align-items: center;
        text-align: center;
        
        @media(max-width: 1000px){
            display: none;
        }
    }

    span{
        position: absolute;
        left: 48%;
        top: 20%;
        height: 60%;
        border-right: #ffffff solid 1px;

        @media(max-width: 1000px){
            display: none;
        }
    }

    #timerBox{
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media(max-width: 1000px){
            display: none;
        }

        div{
            font-weight: 700;
            font-size: 48px;
        }
        p{
            display: block;
            bottom: 15px;
            left: 5%;
            width: fit-content;
            height: fit-content;
            margin: 0;
        }
    }

    #continueText{
        background-color: #FFFFFF;
        height: 100px;
        position: relative;
        bottom: 12px;
        display: flex;
        align-items: center;
        text-align: center;
        
        @media(max-width: 1000px){
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            width: 75%;
            left: 25%;
            padding: 0 20%;
        }
    }

    button{
        background: transparent;
        font-weight: 700;
        font-size: 12px;
        border: 0;
        color: #FFFFFF;
        height: 100px;

        @media(max-width: 1000px){
            display: block;
            width: 25%;
            position: absolute;
            bottom: 12%;
        }
    }
}

#footerBox{
    display: grid;
    grid-template-columns: 17.6% 27.4% 5.5% 5.5% 8% 22% 7% 7%;

    position: relative;

    @media(max-width: 1340px){
        grid-template-columns: 17.6% 27.4% 5.5% 5.5% 11% 19% 7% 7%;
    }
    @media(max-width: 1140px){
        grid-template-columns: 17.6% 27.4% 5.5% 5.5% 15% 15% 7% 7%;
    }
    @media(max-width: 1000px){
        display: block;
    }
}